.footer {
	display: flex;
	flex-direction: column;
	margin-top: auto;

	&__content {
		display: grid;
		grid-template-columns: 50% 1fr 1fr;
		grid-template-rows: auto auto;
		padding-top: 40px;
		padding-bottom: 50px;
		background-color: $color-white;
		gap: 20px;
	}

	&__copyright {
		padding-top: 40px;
		padding-bottom: 50px;
	}

	&__text {
		color: $color-gray-blue;
	}

	p {
		font-size: 14px;
		line-height: 24px;
	}

	p + p {
		margin-top: 30px;
	}

	&__text-link {
		color: $color-blue-light;
	}

	&__phone-link {
		font-weight: 500;
		font-size: 21px;
	}

	&__logo {
		align-self: center;

		svg {
			width: auto;
			height: 24px;
		}

		p {
			margin-top: 16px;
		}
	}

	&__social-links {
		display: flex;
		align-self: center;
		gap: 30px;

		svg {
			height: 28px;
			fill: $color-blue-midle;
			transition: fill ease $duration-normal;
		}
	}

	&__yandex-review-link {
		width: 148px;
		height: 99px;
		background-image: url("../images/yandex-review-icon.png");
	}
}

.site-map {
	&__link-list {
		column-count: 2;
		line-height: 40px;
	}

	&__link {
		font-size: 14px;
		color: $color-blue-light;
	}
}

.shop-info,
.storage-info {
	p {
		font-size: 14px;
		color: $color-black;
	}
}

.shop-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (hover: hover) and (pointer: fine) {
	.footer__social-links a:hover svg {
		fill: $color-blue-dark;
	}

	.footer__text-link:hover {
		text-decoration: underline;
		color: $color-blue-light;
	}
}
