.header {
	padding-top: 45px;
	padding-bottom: 14px;
	background-color: $color-header-background;

	&__info {
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-template-columns: auto auto auto auto;
		gap: 40px;
	}

	&__button {
		display: flex;
		align-items: center;
		border: 0;
		padding: 0;
		width: fit-content;
		font-size: 14px;
		color: $color-blue-light;
		background: transparent;
		transition: color $duration-normal ease;
		gap: 8px;

		span {
			border-bottom: dotted 1px $color-blue-light;
		}
	}

	&__logo svg {
		width: auto;
		max-height: 40px;
	}

	&__phone {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	&__phone-link {
		font-size: 21px;
		color: $color-black;
	}

	&__links {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		gap: 20px;
	}

	&__menu {
		display: grid;
		align-items: center;
		grid-template-columns: max-content auto max-content;
		padding-top: 24px;
	}

	&__cataloge-button {
		display: flex;
		align-items: center;
		height: max-content;
	}

	&__menu-btn {
		display: flex;
		align-items: center;
		border: 0;
		padding: 20px 24px;
		width: fit-content;
		text-transform: uppercase;
		color: $color-gray-light;
		transition: opacity $duration-normal ease;
		gap: 20px;

		svg {
			width: 20px;
			height: 18px;
			fill: $color-gray-light;
		}
	}

	&__search {
		display: flex;
		align-items: center;
	}

	&__search-form {
		display: flex;
		justify-content: space-between;
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: $color-white;

		.search-field {
			outline-offset: -2px;
			border: 0;
			padding: 19px;
			padding-left: 24px;
			width: 100%;
			line-height: 21px;
		}

		.search-btn {
			border: 0;
			padding: 0 20px;
			background-color: $color-white;

			svg {
				width: 28px;
				height: 27px;
				fill: $color-blue-light;
			}
		}
	}

	&__user-links-list {
		display: flex;
		align-items: center;
		padding: 0 40px;
		height: 100%;
		background-color: $color-gray-background;
		gap: 40px;

		li {
			position: relative;
		}

		svg {
			width: 28px;
			height: 24px;
			fill: $color-blue-light;
		}
	}
}

.not-empty::after {
	content: "";
	position: absolute;
	left: 50%;
	top: -28px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	font-weight: 700;
	font-size: 12px;
	color: $color-blue-dark;
	background-color: $color-yellow;
	transform: translate(-50%);
}

.wish-list-link.not-empty::after {
	content: "4";
}

.basket-link.not-empty::after {
	content: "2";
}

.cataloge-btn {
	background-color: $color-blue-dark;
}

.actions-btn {
	background-color: $color-blue-midle;
}

.brands-btn {
	background-color: $color-blue-light;
}

.location-btn svg {
	width: 10px;
	height: 13px;
	fill: $color-yellow;
}

.order-a-call__icon {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	background: $color-yellow;

	svg {
		width: 8px;
		height: 5px;
		fill: $color-blue-light;
		transform: translate(0.7px, 1px);
	}
}

@media (hover: hover) and (pointer: fine) {
	.header__button:hover,
	.header__link-info:hover {
		color: $color-blue-dark;
	}

	.search-btn:hover,
	.header__user-link:hover {
		svg {
			fill: $color-blue-dark;
		}
	}

	.header__menu-btn:hover {
		opacity: 0.7;
	}

	.header__menu-btn:active {
		opacity: 0.4;
	}
}
