section.about
	.grid
		.about__background-img
			<picture>
				<source srcset="images/background-img/about-image-background.avif, images/background-img/about-image-background-x2.avif 2x" type="image/avif">
				<source srcset="images/background-img/about-image-background.webp, images/background-img/about-image-background-x2.webp 2x" type="image/webp">
				<source srcset="images/background-img/about-image-background.jpg, images/background-img/about-image-background-x2.jpg 2x" type="image/jpg">
				<img class="about__background-img" loading="lazy" width="629" height="471" src="images/background-img/about-image-background.jpg" alt="Фото ремонта на кухне">
			</picture>
		.about__color-background

		.about__info
			h2 GG promarket лучший для ремонта
			p GG Promarket — крупный ритейлер сантехнического оборудования, плитки и аксессуаров. Мы нацелены на то, чтобы сделать процесс выбора и покупки сантехники максимально простым и интуитивно понятным. При создании и обновлении сайта santehnika-online.ru мы продумали логичную структуру каталога, организовали систему поиска, снабдили карточки товаров подробными описаниями и характеристиками.
			p Выбирать оборудование в нашем магазине легко даже тем, кто впервые имеет дело с сантехникой. А уточнить детали и получить информацию о совместимости товаров круглосуточно помогут опытные консультанты нашего контакт-центра. С нами вы полюбите выбирать!
