section.about
	.grid
		.about__background-img
			<picture>
				<source srcset="images/background-img/about-image-background.avif, images/background-img/about-image-background-x2.avif 2x" type="image/avif">
				<source srcset="images/background-img/about-image-background.webp, images/background-img/about-image-background-x2.webp 2x" type="image/webp">
				<source srcset="images/background-img/about-image-background.jpg, images/background-img/about-image-background-x2.jpg 2x" type="image/jpg">
				<img class="about__background-img" loading="lazy" width="629" height="471" src="images/background-img/about-image-background.jpg" alt="Фото ремонта на кухне">
			</picture>
		.about__color-background

		.about__info
			h2 GG promarket лучший для ремонта
			p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut consectetur architecto veniam nulla suscipit necessitatibus, eos consequatur deserunt nam totam expedita vero officia laboriosam pariatur aliquid quod cum, quos blanditiis!
			p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut consectetur architecto veniam nulla suscipit necessitatibus, eos consequatur deserunt nam totam expedita vero officia laboriosam pariatur aliquid quod cum, quos blanditiis!
