header.header
	.header__info.container
		.header__logo
			a(href="#")
				+svg("company-logo")
		.header__location
			button.header__button.location-btn#location-btn
				+svg("location")
				span Москва
		.header__phone
			a(href="tel:+74950183210").header__phone-link 8 495 018-32-10
			button.header__button.order-a-call
				.order-a-call__icon
					+svg("arrow-down")
				span Заказать звонок

		ul.header__links
			each object, key in data.header.info_links
				li
					a.header__link-info.simple-link(
						href=object.url
						data-link=key
					)
						!= object.name

	.header__menu.container
		.header__cataloge-button
			button.header__menu-btn.cataloge-btn
				+svg("burger")
				span Каталог товаров
			a(href="#", target="_blank").header__menu-btn.actions-btn Акции
			a(href="#", target="_blank").header__menu-btn.brands-btn Бренды

		.header__search
			form(action="").header__search-form
				input(class="search-field" type="text" placeholder="Что вы ищете?")
				button(type="submit" title="Искать").search-btn
					+svg("search")


		ul.header__user-links-list
			li
				a(href="#", target="_blank" title="Личный кабинет").profile-link.header__user-link
					+svg("user")

			li
				a(href="#", target="_blank" title="Список желаемого").wish-list-link.not-empty.header__user-link
					+svg("heart")
			li
				a(href="#", target="_blank" title="Корзина покупок").basket-link.not-empty.header__user-link
					+svg("basket")
