header.header
	.header__info.container
		.header__logo
			a(href="#")
				#{data.logo_icon.svg}
		.header__location
			button.header__button.location-btn#location-btn
				<svg class="location-icon" width="10" height="13" viewBox="0 0 10 13" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M10 4.70476C10 2.10476 7.76221 0 4.99789 0C1.77284 0 -0.728211 2.90952 0.193231 6.12857C0.324865 6.5 0.522317 6.93333 0.785586 7.30476L0.851403 7.36667L4.60299 12.8143C4.80044 13.0619 5.19534 13.0619 5.39279 12.8143L9.21019 7.24286C9.73673 6.5 10 5.57143 10 4.70476ZM6.42855 4.84025C6.42855 5.5498 5.76921 6.15798 4.99998 6.15798C4.23075 6.15798 3.57141 5.65116 3.57141 4.84025C3.57141 4.02933 4.23075 3.42114 4.99998 3.42114C5.8791 3.42114 6.42855 4.13069 6.42855 4.84025Z"/>
				</svg>
				span Москва
		.header__phone
			a(href="tel:+74950183210").header__phone-link 8 495 018-32-10
			button.header__button.order-a-call
				.order-a-call__icon
					<svg width="8" height="5" viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.87075 0.636943L7.35462 0.127389C7.19333 -0.0318471 6.96752 -0.0318471 6.80623 0.127389L3.96752 2.92994L1.16107 0.0955414C1.03204 -0.0318471 0.773973 -0.0318471 0.644941 0.0955414L0.0965537 0.636943C-0.0647366 0.796178 -0.0647366 1.01911 0.0965537 1.17834L3.96752 5L7.83849 1.17834C8.03204 1.01911 8.03204 0.764331 7.87075 0.636943Z"/>
					</svg>
				span Заказать звонок

		ul.header__links
			each object, key in data.header.info_links
				li
					a.header__link-info.simple-link(
						href=object.url
						data-link=key
					)
						!= object.name

	.header__menu.container
		.header__cataloge-button
			button.header__menu-btn.cataloge-btn
				<svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="24" height="2" fill="#FBFAF9"/>
					<rect y="8" width="24" height="2" fill="#FBFAF9"/>
					<rect y="16" width="24" height="2" fill="#FBFAF9"/>
				</svg>
				span Каталог товаров
			a(href="#", target="_blank").header__menu-btn.actions-btn Акции
			a(href="#", target="_blank").header__menu-btn.brands-btn Бренды

		.header__search
			form(action="").header__search-form
				input(class="search-field" type="text" placeholder="Что вы ищете?")
				button(type="submit" title="Искать").search-btn
					<svg width="22" height="24" viewBox="0 0 22 24" xmlns="http://www.w3.org/2000/svg">
						<path fill="none" fill-rule="evenodd" clip-rule="evenodd" d="M13.8384 4.27593C16.7953 7.23283 16.7953 11.9397 13.8384 14.8966C10.8815 17.8535 6.17457 17.8535 3.21767 14.8966C0.260776 11.9397 0.260776 7.23283 3.21767 4.27593C6.11422 1.37938 10.8815 1.37938 13.8384 4.27593Z" stroke-width="1.8" stroke-miterlimit="22.9256"/>
						<path d="M13.8398 14.957L20.8398 21.957L20.9605 22.0777" stroke-width="1.8" stroke-miterlimit="22.9256"/>
					</svg>


		ul.header__user-links-list
			li
				a(href="#", target="_blank" title="Личный кабинет").profile-link.header__user-link
					<svg width="26" height="29" viewBox="0 0 26 29" xmlns="http://www.w3.org/2000/svg">
						<path d="M13 12.9C9.4 12.9 6.5 10 6.5 6.4C6.5 2.8 9.4 0 13 0C16.6 0 19.5 2.9 19.5 6.5C19.5 10.1 16.6 12.9 13 12.9ZM13 2C10.5 2 8.5 4 8.5 6.5C8.5 9 10.5 11 13 11C15.5 11 17.5 9 17.5 6.5C17.5 4 15.5 2 13 2Z"/>
						<path d="M23.2002 29H2.80021C2.00021 29 1.30021 28.7 0.800215 28.1C0.300215 27.5 0.00021486 26.7 0.100215 25.9L0.600215 20.7C0.800215 18 2.90021 16.8 3.80021 16.3L4.00021 16.1C4.70021 15.7 6.40022 15.1 8.10021 14.8C8.90022 14.7 9.60021 14.8 10.2002 15.2C11.9002 16.4 14.1002 16.4 15.7002 15.2C16.3002 14.8 17.0002 14.6 17.8002 14.8C19.6002 15.1 21.2002 15.7 21.9002 16.1L22.2002 16.3C23.2002 16.9 25.2002 18 25.4002 20.7L25.9002 25.9C26.0002 26.7 25.7002 27.5 25.2002 28.1C24.7002 28.7 24.0002 29 23.2002 29ZM8.70021 16.7C8.60021 16.7 8.60021 16.7 8.50021 16.7C6.60021 17.1 5.30021 17.6 5.10021 17.7C5.00022 17.9 4.90021 17.9 4.70021 18C3.80021 18.5 2.60021 19.2 2.40021 20.9L2.00021 26.1C2.00021 26.3 2.10021 26.6 2.20021 26.8C2.40021 26.9 2.60021 27 2.80021 27H23.2002C23.4002 27 23.6002 26.9 23.8002 26.7C24.0002 26.5 24.0002 26.3 24.0002 26L23.5002 20.8C23.4002 19.2 22.1002 18.5 21.2002 17.9C21.1002 17.8 21.0002 17.8 20.9002 17.7C20.6002 17.5 19.4002 17 17.5002 16.7C17.3002 16.7 17.1002 16.7 17.0002 16.8C14.7002 18.5 11.4002 18.5 9.10021 16.8C9.00021 16.8 8.80021 16.7 8.70021 16.7Z"/>
					</svg>

			li
				a(href="#", target="_blank" title="Список желаемого").wish-list-link.not-empty.header__user-link
					<svg width="32" height="29" viewBox="0 0 32 29" xmlns="http://www.w3.org/2000/svg"><path d="M16 29C15.5 29 15 28.8 14.6 28.5C11.2 25.5 0 15.2 0 8.9C0 4 3.9 0 8.6 0C11.7 0 14.5 1.7 16 4.3C17.5 1.7 20.3 0 23.4 0C28.1 0 32 4 32 8.9C32 15.2 20.8 25.5 17.4 28.5C17 28.8 16.5 29 16 29ZM8.6 2C5 2 2 5.1 2 8.9C2 13.3 9.5 21.4 15.9 27H16C22.5 21.4 30 13.3 30 8.9C30 5.1 27 2 23.4 2C20.7 2 18.3 3.7 17.3 6.3C17.1 6.6 16.8 7 16 7C15.3 7 14.9 6.8 14.7 6.3C13.7 3.7 11.3 2 8.6 2Z"/><defs><rect width="32" height="29"/></defs></svg>
			li
				a(href="#", target="_blank" title="Корзина покупок").basket-link.not-empty.header__user-link
					<svg width="35" height="29" viewBox="0 0 35 29" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_55_36167)"><path d="M26.0996 19.9H7.89965C5.29965 19.9 3.69965 18.1 3.29965 16.3C2.99965 15.2 0.699646 7.10005 -0.000354229 4.90005C-0.100354 4.60005 0.0996458 4.30005 0.399646 4.30005H29.9996V6.30005H2.49965C3.29965 8.90005 4.99965 14.8 5.19965 15.9C5.39965 16.8 6.29965 17.9 7.89965 17.9H26.0996V19.9Z"/><path d="M24.6 24.8L23 23.7C23.2 23.4 23.4 23.1 23.5 22.7C24 21.2 27.5 8.8 29 3.5C29.5 1.4 31.3 0 33.5 0H34.7C34.8 0 35 0.2 35 0.3V1.6C35 1.8 34.8 2 34.7 2H33.5C32.3 2 31.2 2.8 30.9 4C29.4 9.3 25.9 21.8 25.4 23.4C25.2 23.9 24.9 24.4 24.6 24.8Z"/><path d="M20.5004 25H8.40039V27H20.5004V25Z"/><path d="M6 29C4.3 29 3 27.6 3 26C3 24.3 4.4 23 6 23C7.7 23 9 24.4 9 26C9 27.6 7.7 29 6 29ZM6 24.9C5.4 24.9 5 25.4 5 25.9C5 26.5 5.5 26.9 6 26.9C6.5 26.9 7 26.4 7 25.9C7 25.4 6.6 24.9 6 24.9Z"/><path d="M22.5996 29C20.8996 29 19.5996 27.6 19.5996 26C19.5996 24.3 20.9996 23 22.5996 23C24.2996 23 25.5996 24.4 25.5996 26C25.6996 27.6 24.2996 29 22.5996 29ZM22.5996 24.9C21.9996 24.9 21.5996 25.4 21.5996 25.9C21.5996 26.5 22.0996 26.9 22.5996 26.9C23.0996 26.9 23.5996 26.4 23.5996 25.9C23.6996 25.4 23.1996 24.9 22.5996 24.9Z"/></g><defs><clipPath id="clip0_55_36167"><rect width="35" height="29"/></clipPath></defs></svg>


