section.tile-collection
	.container
		h2.section-title.tile-collection__title Коллекции плитки
	.grid
		a(href="#").tile-collection__link.grid-module-1
			.tile-collection__link-content
				span Сияние
				span Kerama Marazzi
		a(href="#").tile-collection__link.grid-module-2
			.tile-collection__link-content
				span Веставинд
				span LB-Ceramics
		a(href="#").tile-collection__link.grid-module-3
			.tile-collection__link-content
				span Rotterdam
				span Gracia Ceramica
		a(href="#").tile-collection__link.grid-module-4
			.tile-collection__link-content
				span Rane
				span Alma Ceramica
		a(href="#").tile-collection__link.grid-module-5
			.tile-collection__link-content
				span Гинардо
				span Kerama Marazzi

