-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			info_links: [
				{
					url: '#',
					name: 'Оплата'
				},
				{
					url: '#',
					name: 'Доставка'
				},
				{
					url: '#',
					name: 'Контакты'
				},
				{
					url: '#',
					name: 'Статьи'
				},
				{
					url: '#',
					name: 'Поставщикам'
				}
			],

			navigation_categories: [
				{
					svg: './images/sprites.svg#tile',
					name: 'Плитка',
					class: 'tile',
					href: "#"
				},
				{
					svg: './images/sprites.svg#plumbing',
					name: 'Сантехника',
					class: 'plumbing-categori',
					href: "#"
				},
				{
					svg: './images/sprites.svg#furniture',
					name: 'Мебель для ванной',
					href: "#"
				},
				{
					svg: './images/sprites.svg#appliances',
					name: 'Электроника и бытовая техника',
					href: "#"
				},
				{
					svg: './images/sprites.svg#heating',
					name: 'Отопление',
					href: "#"
				},
				{
					svg: './images/sprites.svg#floor-covering',
					name: 'Напольное покрытие',
					href: "#"
				},
			]
		},

		footer: {
			site_map_links: [
				{
					url: '#',
					name: 'Плитка'
				},
				{
					url: '#',
					name: 'Сантехника'
				},
				{
					url: '#',
					name: 'Мебель для ванной'
				},
				{
					url: '#',
					name: 'Электроника и бытовая техника'
				},
				{
					url: '#',
					name: 'Отопление'
				},
				{
					url: '#',
					name: 'Напольное покрытие'
				},
			]
		},

		brand_logos: {
			logos_img_url: [
				{
					url: 'images/brand-logos/brand (1).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (2).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (3).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (4).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (5).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (6).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (7).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (8).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (9).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (10).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (11).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (12).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (13).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (14).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (15).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (16).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (17).png',
					name: 'имя бренда'
				},
				{
					url: 'images/brand-logos/brand (18).png',
					name: 'имя бренда'
				},
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
